@import '_header';



// For mobile & desktop
& when (@media-common =true) {
    .page-footer {
        background-color: #ffffff;

        .social-media-icons a>i {
            color        : #6d6d6d;
            width        : 30px;
            height       : 30px;
            padding-right: 5px;
        }

        .newsletter {
            .content .actions {
                background-color: #323335;
            }
        }

        .footer-top {
            display        : flex;
            flex-wrap      : wrap;
            justify-content: space-between;
        }
    }

}

// For desktop
& when (@media-common =false) {}

// Tu 768px den 1024px
@media screen and (min-width: @screen__m) and (max-width: @screen__l) {}

// Tu 480px den 767px
@media screen and (min-width: @screen__xs) and (max-width: 767px) {}

// Tu 640 tro xuong
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {}

// Tu 480px den 600px
@media screen and (min-width: 480px) and (max-width: 600px) {}